/*Annette meny*/
.header {
    height: 70px;
    width: 100%;
    z-index:-1;
    
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 55px;
    border-radius: 4px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}


.menu {
    float: right;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    float: left;
    display: inline-block;
    position: relative;
}


img{
    width:15%;
    height:15%;
    margin: 0;
    float: left;
    padding-left: 5px;
}

li a:hover {
    color: #707070;
}

.checkbtn{
        font-size: 30px;
        color: black;
        float: right;
        line-height: 80px;
        margin-right: 40px;
        cursor: pointer;
        display: none;
      }
      #check{
        display: none;
      }

@media (max-width: 858px){
        .checkbtn{
          display: block;
        }
        ul{
          position: fixed;
          width: 100%;
          height: 100vh;
          top: 80px;
          left: -100%;
          text-align: center;
          transition: all .5s;
        }
        nav ul li{
          display: block;
          margin: 50px 0;
          line-height: 30px;
        }
        nav ul li a{
          font-size: 20px;
        }
       
        #check:checked ~ ul{
          left: 0;
        }
      }


/*sara banner*/

body, html{
  height: 100%;
  margin: 0;
}
.img1{
  background-image: url('imgbanner/banner.jpg');
  min-height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.text1{
  position: absolute;
  top: 43%;
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 25px;
  font-family:sans-serif;
  font-weight: 400;
  line-height: 2.9em;
  letter-spacing: 8px;
  text-transform: uppercase;
}


.text1 .border{
  box-sizing:border-box;
  background-color: #111;
  color: #fff;
  padding: 20px;
}

/*sara banner*/



/* Annette about*/
section#about{
    padding-top: 200px;
    line-height: 2;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    padding-left: 40px;
    padding-right: 40px;
  }

 .boks {
     background-color: #ffdb00;
     padding: 40px;
 }


/*---------Innovation Camp Schedule-------*/
*{
margin:0;
padding: 0;
box-sizing: border-box;
}

.wrapper{
/*height: 100vh;*/
width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
grid-gap: 45px;
position: relative;
}

.box2{
margin: 30px;
}

.text{
margin: 20px;
line-height: 1.3;
}

.text h1 span{
color: #FFD200;
font-size: 40px;
}

.text h1{
margin: 30px;
}

.btn{
background: #FFD200;
color: black;
text-decoration: none;
cursor: pointer;
margin-left: 80px;
padding: 20px;
font-size: 20px;
position: absolute;
transition: 1s ease;
border-radius: 4px
}

.btn:hover{
background:black;
letter-spacing: 3px;
color: white;
}


		.box{
			background: #FFD200;
			width: 93%;
			height: 95%;
			margin: 10px;
			line-height: 1.3;
		}

		.schedule{
			margin: 10px;
			padding: 5px;
		}

		.schedule h1, h3, p{
			padding: 3px;
		}

		.schedule span{
			font-size: 50px;
		}

		.schedule h1{
			text-align: center;
			margin-bottom: 30px;
		}

		.schedule1{
			margin: 10px;
			padding: 5px;

		}
		.box .schedule:after{
			content:'';
			background: #111;
			display: block;
			height: 3px;
			width: 100%;
			margin:15px auto;
			border-radius: 5px;
		}

 /*----------- Sefa - Responsive -----------*/
@media screen and (min-device-width : 0px) and (max-device-width : 630px){
  h2{
    margin:0!important;
    padding: 0!important;
    font-size: 2.2em!important;
  }
  section#contact{
    padding:50px 25px!important;
  }
  footer{
    padding: 30px 25px!important;
  }
  .kolonne div.social img{
    padding:0 5px!important;
  }
  form input, form textarea{
    border-radius: 0!important;
  }
  .rad>div{
    flex: 0 100%!important;
  }
  .kolonne{
    width:100%;
  }
}
 /*----------- Sefa - Contact section -----------*/
 html {
   box-sizing: border-box;
   background-color:
 }
 *, *:before, *:after {
   box-sizing: inherit;
 }
 section#contact{
   padding:50px 200px;
   line-height: 2;
   text-align: center;
 }
 section#contact a{
   color:#ffdb00;
   text-decoration: none;
   transition: .15s;
 }
 section#contact a:hover{
   color:#000;
 }

 #contact form{
   background-color: #ffdb00;
   padding: 40px 30px;
 }

 form .radr{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   text-align: left;
 }
 form input:focus,form textarea:focus{
   outline: none;
 }
 form input,form textarea{
   padding: 10px;
   width: 100%;
   padding:15px 10px;
   border:0;
 }

 form .kolonr{
   padding: 10px;
   width: 100%;
 }

footer{
  background-color: rgb(230, 230, 230);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
  font-weight: 900;
}
footer a{
  color:#000;
  text-decoration: none;
  transition: .15s;
}
footer a:hover{
  opacity: .2;
}
 .rad{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 100%;
   justify-content: center;
   align-items: center;
   margin-top:50px;
 }

 .rad>div {
   flex: 0 33.3333%;
   box-sizing:border-box
 }

 .kolonne{
   display: flex;
   flex-direction: column;
   width: 50%;
   padding: 30px;
   align-items: center;
 }
 .kolonne div.social{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: row;
 }

 .kolonne div.social img{
   width: 100%;
   max-width: 70px;
   padding:20px;
 }
 .kolonne div.social a{
   transition: .25s;
 }
 .kolonne div.social a:hover{
   opacity: .2;
 }

 .send_btn{
   width: 95%;
   margin-top:40px;
   padding:15px 40px;
   background-color: #000;
   border:0;
   color:#fcc701;
   font-weight: bold;
   cursor:pointer;
   transition: .1s;
 }

 .send_btn:hover{
   opacity: .5;
 }

 .logo_rad{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .social_logo{
   max-width: 40px;
   padding: 0 10px;
 }

/*Thanasis: Our Team*/

body{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
background-color: white;
}

/*columns*/
.row{
  background-color: #ffdb00;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.row2 {
  background-color: white;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.column {
  width: 400px;
  padding: 10px;
  margin-left: 20px;
  float: left;
}

.column-row2 {
  width: 1400px;
  padding: 10px;
}

.column2 {
  width: 1400px;
  padding: 10px;
}

.column2-row2 {
  width: 400px;
  padding: 10px;
  margin-left: 20px;
  float: left;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
/*columns*/

/*text*/
.column2 p{
  font-size: 15px;
  margin-top: 1%;
  margin-left: 40px;
  margin-bottom: auto;
  display: block;
  margin-right: 60px;
  text-align: left;
  line-height: 35px;
  font-weight: 600px;
}

.column2 h1{
  text-align: left;
  margin-top: 4%;
  margin-left: 40px;
  font-size: 1.2em;
}

.column-row2 p{
  font-size: 15px;
  margin-top: 1%;
  margin-bottom: auto;
  display: block;
  margin-right: 60px;
  text-align: left;
  line-height: 35px;
  font-weight: 600px;
  margin-left: 40px;
}

.column-row2 h1{
  text-align: left;
  margin-top: 4%;
  margin-left: 40px;
  font-size: 1.2em;
}

.team h2{
  margin-top: 20px;
  padding: 20px;
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display:block;
}
/*text*/

/*pictures*/
.column img {
  margin: 10px;
  width: 80%;
  height: auto;
}

.column2-row2 img {
  margin: 10px;
  width: 80%;
  height: auto;
}
/*pictures*/
/*Thanasis: Our Team*/

/*scaling: Our Team*/
@media screen and (max-width: 1000px) {
  .column {
    width: 100%;

  }

  .column img {
    width: 80%;
    margin-top: 20px;
  }

  .column2-row2 img {
    width: 80%;
    margin-top: 20px;
  }

  .column2 {
    width: 100%;
  }

  .column2-row2 {
    width: 100%;
  }

  .column-row2 {
    width: 100%;
  }

  .column2 p {
    font-size: 20px;
    width: 86%;
    margin-left: 40px;
    margin-bottom: 40px;
    line-height: 45px;
  }

  .column-row2 p {
    font-size: 20px;
    width: 86%;
    margin-left: 40px;
    margin-bottom: 40px;
    line-height: 45px;
  }

  .column2 h1{
    font-size: 25px;
    text-align: left;
    margin-top: 90px;
    margin-left: 40px;
  }

  .column-row2 h1{
    text-align: left;
    margin-top: 90px;
    margin-left: 40px;
    font-size: 25px;
  }

  .row{
    display: block;
    overflow-x: hidden;
  }

  .row2{
    display: block;
    overflow-x: hidden;
  }

  .team {
    margin-top: 30px;
  }

  .team h2{
    font-size: 1.9em;
  }

/*scaling: Our Team*/
